In [1]:
import pandas as pd
pd.read_excel('vehicles_by_make_fuel_2015_zip.xlsx')

           Make                      Fuel  Vehicles
0        TOYOTA                  Gasoline     59938
1         HONDA                  Gasoline     52163
2        NISSAN                  Gasoline     36640
3     OTHER/UNK                  Gasoline     24479
4        TOYOTA           Hybrid Gasoline     20767
..          ...                       ...       ...
78      FERRARI                  Gasoline        12
79  ROLLS-ROYCE                  Gasoline        12
80          GMC  Diesel and Diesel Hybrid        11
81    OTHER/UNK                     Other        10
82    OTHER/UNK        Hydrogen Fuel Cell         1

[83 rows x 3 columns]

In [2]:
df = pd.read_excel('vehicles_by_make_fuel_2015_zip.xlsx')

# Define a dictionary to map old Fuel names to new names
fuel_mapping = {
    'Gasoline': 'Gasoline',
    'Other': 'Other',
    'Diesel and Diesel Hybrid': 'Diesel Fuel',
    'Natural Gas': 'Compressed Natural Gas (CNG)',
    'Hybrid Gasoline': 'Gasoline',
    'Flex-Fuel': 'Ethanol (E-85)',
    'Battery Electric': 'Electricity',
    'Plug-in Hybrid': 'Electricity',
    'Hydrogen Fuel Cell': 'Electricity',
    # Add more mappings if needed
}

# Replace the Fuel names with the assigned names using the replace method
df['Fuel'] = df['Fuel'].replace(fuel_mapping)

# Print the DataFrame to see the updated data
print(df)

           Make         Fuel  Vehicles
0        TOYOTA     Gasoline     59938
1         HONDA     Gasoline     52163
2        NISSAN     Gasoline     36640
3     OTHER/UNK     Gasoline     24479
4        TOYOTA     Gasoline     20767
..          ...          ...       ...
78      FERRARI     Gasoline        12
79  ROLLS-ROYCE     Gasoline        12
80          GMC  Diesel Fuel        11
81    OTHER/UNK        Other        10
82    OTHER/UNK  Electricity         1

[83 rows x 3 columns]

In [3]:
# Define a dictionary to map old Make names to new names
make_mapping = {
    'TOYOTA': 'Toyota',
    'OTHER/UNK': 'Other',
'TOYOTA': 'Passenger Car',
'FORD': 'Passenger Car', 
'CHEVROLET': 'Passenger Car', 
'HONDA': 'Passenger Car', 
'LEXUS': 'Passenger Car', 
'NISSAN': 'Passenger Car', 
'DODGE': 'Passenger Car', 
'MERCEDES-BENZ': 'Passenger Car', 
'BMW': 'Passenger Car', 
'HYUNDAI': 'Passenger Car', 
'VOLKSWAGEN': 'Passenger Car', 
'JEEP': 'Passenger Car', 
'SUBARU': 'Passenger Car', 
'KIA': 'Passenger Car', 
'GMC': 'Passenger Truck',
'MAZDA': 'Passenger Car', 
'ACURA': 'Passenger Car', 
'AUDI': 'Passenger Car', 
'RAM': 'Passenger Truck',
'INFINITI': 'Passenger Car', 
'TESLA': 'Passenger Car', 
'CADILLAC': 'Passenger Car', 
'SCION': 'Passenger Car', 
'PORSCHE': 'Passenger Car', 
'CHRYSLER': 'Passenger Car', 
'VOLVO': 'Passenger Car', 
'MINI': 'Passenger Car', 
'FREIGHTLINER': 'Light Commercial Truck',
'LAND ROVER': 'Passenger Car', 
'BUICK': 'Passenger Car', 
'MITSUBISHI': 'Passenger Car', 
'Unk': 'Other',
'LINCOLN': 'Passenger Car', 
'PONTIAC': 'Passenger Car', 
'PETERBILT': 'Combination Long-haul Truck',
'SATURN': 'Passenger Car', 
'JAGUAR': 'Passenger Car', 
'MERCURY': 'Passenger Car', 
'KENWORTH': 'Combination Long-haul Truck',
'INTERNATIONAL': 'Combination Long-haul Truck',
'ISUZU': 'Single Unit Short-haul Truck',
'HUMMER': 'Passenger Truck',
'FIAT': 'Passenger Car', 
'SUZUKI': 'Passenger Car', 
'OLDSMOBILE': 'Passenger Car', 
'WORKHORSE': 'Light Commercial Truck',
'GENESIS': 'Passenger Car', 
'HINO': 'Single Unit Short-haul Truck',
'SAAB': 'Passenger Car', 
'PLYMOUTH': 'Passenger Car', 
'ALFA ROMEO': 'Passenger Car', 
'AUTOCAR': 'Single Unit Short-haul Truck',
'RIVIAN': 'Passenger Car', 
'GEO': 'Passenger Car', 
'BLUE BIRD': 'School Bus',
'GILLIG': 'Transit Bus',
'THOMAS BUS': 'School Bus',
'NEW FLYER': 'Transit Bus',
'ROADMASTER': 'Single Unit Short-haul Truck',
'MACK': 'Combination Long-haul Truck',
'UNKNOWN': 'Other',
'BENTLEY': 'Passenger Car', 
'FERRARI': 'Passenger Car', 
'MASERATI': 'Passenger Car', 
'IC BUS LLC': 'School Bus',
'SMART': 'Passenger Car', 
'POLESTAR': 'Passenger Car', 
'SPARTAN': 'Combination Long-haul Truck',
'IC BUS': 'School Bus',
'VAN HOOL': 'Transit Bus',
'PIERCE': 'Refuse Truck',
'EL DORADO': 'Transit Bus',
'KALMAR': 'Light Commercial Truck',
'ROLLS-ROYCE': 'Passenger Car', 
'WESTERN STAR': 'Combination Long-haul Truck',
'MOTOR COACH INDUSTRIES': 'Transit Bus',
'BYD COACH AND BUS': 'Transit Bus',
'NORTH AMERICAN BUS INDUSTRIES': 'Transit Bus',
'AMERICAN LAFRANCE': 'Transit Bus',
'KOVATCH MOBLIE EQUIPMENT CORP': 'Other Buses',
'STERLING': 'Combination Long-haul Truck',
'CRANE CARRIER': 'Combination Short-haul Truck',
'LAMBORGHINI': 'Passenger Car', 
'FLXIBLE TRANSIT COACHES': 'Transit Bus',
'ORION': 'Transit Bus',
'ASTON MARTIN': 'Passenger Car', 
'HME': 'Combination Short-haul Truck',
'PREVOST': 'Transit Bus',
'CRUISE': 'Passenger Car',
'AM GENERAL': 'Combination Short-haul Truck',
'LUCID': 'Passenger Car', 
'TMC': 'Single Unit Long-haul Truck',
'GLOBAL ENVIRONMENTAL': 'Transit Bus',
'KOVATCH': 'Other Buses',
'TICO': 'Single Unit Long-haul Truck',
'WHITE/GMC': 'Single Unit Long-haul Truck',
'GREENPOWER MOTOR': 'Transit Bus',
'NORTH AMERICAN': 'Transit Bus',
'NEOPLAN': 'Transit Bus',
'ALLIANZ': 'Combination Short-haul Truck',
'WHITE': 'Light Commercial Truck',
'XOS': 'Transit Bus',
'LODAL': 'Transit Bus',
'PROTERRA': 'Transit Bus',
'ARBOC': 'Transit Bus',
'BLUEBIRD': 'School Bus',
'MOTOR COACH IND': 'Transit Bus',
'MAN TRUCK AND BUS CORPORATION': 'Combination Long-haul Truck',
'CAPACITY': 'Single Unit Short-haul Truck',
'EMERGENCY ONE': 'Refuse Truck',
'BRIGHTDROP': 'Passenger Truck',
'VPG': 'Passenger Car', 
'CATERPILLAR': 'Single Unit Long-haul Truck',
'COUNTRY COACH': 'Motor Home',
'SPECIAL CONSTRUCTION': 'Other',
'FWD': 'Single Unit Short-haul Truck',
'SEAGRAVE': 'Refuse Truck',
'TROLLEY': 'Transit Bus',
'ALEXANDER DENNIS': 'Transit Bus',
'MG': 'Passenger Car', 
'ORANGE EV': 'Transit Bus',
'OSHKOSH': 'Combination Short-haul Truck',
'LOTUS': 'Passenger Car', 

    # Add more mappings if needed
}

# Replace the Make names with the assigned names using the replace method
df['Make'] = df['Make'].replace(make_mapping)

# Print the DataFrame to see the updated data
print(df)

               Make         Fuel  Vehicles
0     Passenger Car     Gasoline     59938
1     Passenger Car     Gasoline     52163
2     Passenger Car     Gasoline     36640
3             Other     Gasoline     24479
4     Passenger Car     Gasoline     20767
..              ...          ...       ...
78    Passenger Car     Gasoline        12
79    Passenger Car     Gasoline        12
80  Passenger Truck  Diesel Fuel        11
81            Other        Other        10
82            Other  Electricity         1

[83 rows x 3 columns]

In [4]:
# Group the DataFrame by 'Make' and 'Fuel' and calculate the sum of 'Vehicles'
grouped_df = df.groupby(['Make', 'Fuel'])['Vehicles'].sum().reset_index()

# Print the DataFrame to see the updated data
print(grouped_df)

                            Make                          Fuel  Vehicles
0    Combination Long-haul Truck                   Diesel Fuel      1045
1         Light Commercial Truck  Compressed Natural Gas (CNG)        74
2         Light Commercial Truck                   Diesel Fuel      3128
3         Light Commercial Truck                         Other        44
4                          Other  Compressed Natural Gas (CNG)       230
5                          Other                   Diesel Fuel      9792
6                          Other                   Electricity      5741
7                          Other                Ethanol (E-85)      6820
8                          Other                      Gasoline     28797
9                          Other                         Other        10
10                         Other                           Unk       334
11                 Passenger Car  Compressed Natural Gas (CNG)        16
12                 Passenger Car                   Diesel Fuel       833
13                 Passenger Car                   Electricity      1112
14                 Passenger Car                Ethanol (E-85)      9162
15                 Passenger Car                      Gasoline    334030
16               Passenger Truck                   Diesel Fuel       199
17               Passenger Truck                Ethanol (E-85)       284
18               Passenger Truck                      Gasoline      3882
19                    School Bus  Compressed Natural Gas (CNG)        59
20                    School Bus                         Other        15
21  Single Unit Short-haul Truck  Compressed Natural Gas (CNG)        36
22  Single Unit Short-haul Truck                   Diesel Fuel       249
23                   Transit Bus  Compressed Natural Gas (CNG)       403
24                   Transit Bus                   Diesel Fuel        69

In [5]:
# Save the filtered DataFrame as an Excel file (xlsx)
#grouped_df.to_excel('make_Fuel_Vehicles_2018_zip.xlsx', index=False)

In [6]:
# Calculate the total of the 'Vehicles' column in the grouped DataFrame
total_vehicles = grouped_df['Vehicles'].sum()
print("Total number of vehicles:", total_vehicles)

Total number of vehicles: 406364

In [7]:
# Calculate the total of the 'Vehicles' column in the grouped DataFrame
total_vehicles = grouped_df['Vehicles'].sum()
print("Total number of vehicles:", total_vehicles)

Total number of vehicles: 406364

In [8]:
# Filter out rows where 'Make' or 'Fuel' are labeled exactly as 'Other'
grouped_df = grouped_df[~(grouped_df['Make'].str.strip() == 'Other') & ~(grouped_df['Fuel'].str.strip() == 'Other')]


# Print the DataFrame to see the updated data
print(grouped_df)

                            Make                          Fuel  Vehicles
0    Combination Long-haul Truck                   Diesel Fuel      1045
1         Light Commercial Truck  Compressed Natural Gas (CNG)        74
2         Light Commercial Truck                   Diesel Fuel      3128
11                 Passenger Car  Compressed Natural Gas (CNG)        16
12                 Passenger Car                   Diesel Fuel       833
13                 Passenger Car                   Electricity      1112
14                 Passenger Car                Ethanol (E-85)      9162
15                 Passenger Car                      Gasoline    334030
16               Passenger Truck                   Diesel Fuel       199
17               Passenger Truck                Ethanol (E-85)       284
18               Passenger Truck                      Gasoline      3882
19                    School Bus  Compressed Natural Gas (CNG)        59
21  Single Unit Short-haul Truck  Compressed Natural Gas (CNG)        36
22  Single Unit Short-haul Truck                   Diesel Fuel       249
23                   Transit Bus  Compressed Natural Gas (CNG)       403
24                   Transit Bus                   Diesel Fuel        69

In [9]:
# Calculate the total of the 'Vehicles' column in the grouped DataFrame
total_vehicles = grouped_df['Vehicles'].sum()
print("Total number of vehicles:", total_vehicles)

Total number of vehicles: 354581

In [10]:
# Filter out rows where 'Make' or 'Fuel' are not labeled exactly as 'Other'
filtered_df = df[(df['Make'] == 'Other') | (df['Fuel'] == 'Other')]

print(filtered_df)

                      Make                          Fuel  Vehicles
3                    Other                      Gasoline     24479
13                   Other                   Diesel Fuel      9792
16                   Other                Ethanol (E-85)      6820
21                   Other                      Gasoline      4318
25                   Other                   Electricity      3445
30                   Other                   Electricity      2295
48                   Other  Compressed Natural Gas (CNG)       230
49                   Other                           Unk       200
58                   Other                           Unk       134
67  Light Commercial Truck                         Other        44
76              School Bus                         Other        15
81                   Other                         Other        10
82                   Other                   Electricity         1

In [11]:
# Calculate the total of the 'Vehicles' column in the grouped DataFrame
total_vehicles = filtered_df['Vehicles'].sum()
print("Total number of vehicles:", total_vehicles)

Total number of vehicles: 51783

In [13]:
51783+354581

406364