In [1]:
import pandas as pd
pd.read_excel('vehicles_by_make_fuel_2022_zip.xlsx')

          Make                Fuel  Vehicles
0       TOYOTA            Gasoline     53097
1        TESLA    Battery Electric     45747
2        HONDA            Gasoline     38464
3    OTHER/UNK            Gasoline     20900
4          KIA            Gasoline     19686
..         ...                 ...       ...
94   NEW FLYER  Hydrogen Fuel Cell        14
95         KIA      Plug-in Hybrid        13
96  VOLKSWAGEN    Battery Electric        12
97       ISUZU            Gasoline        12
98   OTHER/UNK               Other         3

[99 rows x 3 columns]

In [2]:
df = pd.read_excel('vehicles_by_make_fuel_2022_zip.xlsx')

# Define a dictionary to map old Fuel names to new names
fuel_mapping = {
    'Gasoline': 'Gasoline',
    'Other': 'Other',
    'Diesel and Diesel Hybrid': 'Diesel Fuel',
    'Natural Gas': 'Compressed Natural Gas (CNG)',
    'Hybrid Gasoline': 'Gasoline',
    'Flex-Fuel': 'Ethanol (E-85)',
    'Battery Electric': 'Electricity',
    'Plug-in Hybrid': 'Electricity',
    'Hydrogen Fuel Cell': 'Electricity',
    # Add more mappings if needed
}

# Replace the Fuel names with the assigned names using the replace method
df['Fuel'] = df['Fuel'].replace(fuel_mapping)

# Print the DataFrame to see the updated data
print(df)

          Make         Fuel  Vehicles
0       TOYOTA     Gasoline     53097
1        TESLA  Electricity     45747
2        HONDA     Gasoline     38464
3    OTHER/UNK     Gasoline     20900
4          KIA     Gasoline     19686
..         ...          ...       ...
94   NEW FLYER  Electricity        14
95         KIA  Electricity        13
96  VOLKSWAGEN  Electricity        12
97       ISUZU     Gasoline        12
98   OTHER/UNK        Other         3

[99 rows x 3 columns]

In [3]:
# Define a dictionary to map old Make names to new names
make_mapping = {
    'TOYOTA': 'Toyota',
    'OTHER/UNK': 'Other',
'TOYOTA': 'Passenger Car',
'FORD': 'Passenger Car', 
'CHEVROLET': 'Passenger Car', 
'HONDA': 'Passenger Car', 
'LEXUS': 'Passenger Car', 
'NISSAN': 'Passenger Car', 
'DODGE': 'Passenger Car', 
'MERCEDES-BENZ': 'Passenger Car', 
'BMW': 'Passenger Car', 
'HYUNDAI': 'Passenger Car', 
'VOLKSWAGEN': 'Passenger Car', 
'JEEP': 'Passenger Car', 
'SUBARU': 'Passenger Car', 
'KIA': 'Passenger Car', 
'GMC': 'Passenger Truck',
'MAZDA': 'Passenger Car', 
'ACURA': 'Passenger Car', 
'AUDI': 'Passenger Car', 
'RAM': 'Passenger Truck',
'INFINITI': 'Passenger Car', 
'TESLA': 'Passenger Car', 
'CADILLAC': 'Passenger Car', 
'SCION': 'Passenger Car', 
'PORSCHE': 'Passenger Car', 
'CHRYSLER': 'Passenger Car', 
'VOLVO': 'Passenger Car', 
'MINI': 'Passenger Car', 
'FREIGHTLINER': 'Light Commercial Truck',
'LAND ROVER': 'Passenger Car', 
'BUICK': 'Passenger Car', 
'MITSUBISHI': 'Passenger Car', 
'Unk': 'Other',
'LINCOLN': 'Passenger Car', 
'PONTIAC': 'Passenger Car', 
'PETERBILT': 'Combination Long-haul Truck',
'SATURN': 'Passenger Car', 
'JAGUAR': 'Passenger Car', 
'MERCURY': 'Passenger Car', 
'KENWORTH': 'Combination Long-haul Truck',
'INTERNATIONAL': 'Combination Long-haul Truck',
'ISUZU': 'Single Unit Short-haul Truck',
'HUMMER': 'Passenger Truck',
'FIAT': 'Passenger Car', 
'SUZUKI': 'Passenger Car', 
'OLDSMOBILE': 'Passenger Car', 
'WORKHORSE': 'Light Commercial Truck',
'GENESIS': 'Passenger Car', 
'HINO': 'Single Unit Short-haul Truck',
'SAAB': 'Passenger Car', 
'PLYMOUTH': 'Passenger Car', 
'ALFA ROMEO': 'Passenger Car', 
'AUTOCAR': 'Single Unit Short-haul Truck',
'RIVIAN': 'Passenger Car', 
'GEO': 'Passenger Car', 
'BLUE BIRD': 'School Bus',
'GILLIG': 'Transit Bus',
'THOMAS BUS': 'School Bus',
'NEW FLYER': 'Transit Bus',
'ROADMASTER': 'Single Unit Short-haul Truck',
'MACK': 'Combination Long-haul Truck',
'UNKNOWN': 'Other',
'BENTLEY': 'Passenger Car', 
'FERRARI': 'Passenger Car', 
'MASERATI': 'Passenger Car', 
'IC BUS LLC': 'School Bus',
'SMART': 'Passenger Car', 
'POLESTAR': 'Passenger Car', 
'SPARTAN': 'Combination Long-haul Truck',
'IC BUS': 'School Bus',
'VAN HOOL': 'Transit Bus',
'PIERCE': 'Refuse Truck',
'EL DORADO': 'Transit Bus',
'KALMAR': 'Light Commercial Truck',
'ROLLS-ROYCE': 'Passenger Car', 
'WESTERN STAR': 'Combination Long-haul Truck',
'MOTOR COACH INDUSTRIES': 'Transit Bus',
'BYD COACH AND BUS': 'Transit Bus',
'NORTH AMERICAN BUS INDUSTRIES': 'Transit Bus',
'AMERICAN LAFRANCE': 'Transit Bus',
'KOVATCH MOBLIE EQUIPMENT CORP': 'Other Buses',
'STERLING': 'Combination Long-haul Truck',
'CRANE CARRIER': 'Combination Short-haul Truck',
'LAMBORGHINI': 'Passenger Car', 
'FLXIBLE TRANSIT COACHES': 'Transit Bus',
'ORION': 'Transit Bus',
'ASTON MARTIN': 'Passenger Car', 
'HME': 'Combination Short-haul Truck',
'PREVOST': 'Transit Bus',
'CRUISE': 'Passenger Car',
'AM GENERAL': 'Combination Short-haul Truck',
'LUCID': 'Passenger Car', 
'TMC': 'Single Unit Long-haul Truck',
'GLOBAL ENVIRONMENTAL': 'Transit Bus',
'KOVATCH': 'Other Buses',
'TICO': 'Single Unit Long-haul Truck',
'WHITE/GMC': 'Single Unit Long-haul Truck',
'GREENPOWER MOTOR': 'Transit Bus',
'NORTH AMERICAN': 'Transit Bus',
'NEOPLAN': 'Transit Bus',
'ALLIANZ': 'Combination Short-haul Truck',
'WHITE': 'Light Commercial Truck',
'XOS': 'Transit Bus',
'LODAL': 'Transit Bus',
'PROTERRA': 'Transit Bus',
'ARBOC': 'Transit Bus',
'BLUEBIRD': 'School Bus',
'MOTOR COACH IND': 'Transit Bus',
'MAN TRUCK AND BUS CORPORATION': 'Combination Long-haul Truck',
'CAPACITY': 'Single Unit Short-haul Truck',
'EMERGENCY ONE': 'Refuse Truck',
'BRIGHTDROP': 'Passenger Truck',
'VPG': 'Passenger Car', 
'CATERPILLAR': 'Single Unit Long-haul Truck',
'COUNTRY COACH': 'Motor Home',
'SPECIAL CONSTRUCTION': 'Other',
'FWD': 'Single Unit Short-haul Truck',
'SEAGRAVE': 'Refuse Truck',
'TROLLEY': 'Transit Bus',
'ALEXANDER DENNIS': 'Transit Bus',
'MG': 'Passenger Car', 
'ORANGE EV': 'Transit Bus',
'OSHKOSH': 'Combination Short-haul Truck',
'LOTUS': 'Passenger Car', 

    # Add more mappings if needed
}

# Replace the Make names with the assigned names using the replace method
df['Make'] = df['Make'].replace(make_mapping)

# Print the DataFrame to see the updated data
print(df)

                            Make         Fuel  Vehicles
0                  Passenger Car     Gasoline     53097
1                  Passenger Car  Electricity     45747
2                  Passenger Car     Gasoline     38464
3                          Other     Gasoline     20900
4                  Passenger Car     Gasoline     19686
..                           ...          ...       ...
94                   Transit Bus  Electricity        14
95                 Passenger Car  Electricity        13
96                 Passenger Car  Electricity        12
97  Single Unit Short-haul Truck     Gasoline        12
98                         Other        Other         3

[99 rows x 3 columns]

In [4]:
# Group the DataFrame by 'Make' and 'Fuel' and calculate the sum of 'Vehicles'
grouped_df = df.groupby(['Make', 'Fuel'])['Vehicles'].sum().reset_index()

# Print the DataFrame to see the updated data
print(grouped_df)

                            Make                          Fuel  Vehicles
0    Combination Long-haul Truck  Compressed Natural Gas (CNG)        37
1    Combination Long-haul Truck                   Diesel Fuel       717
2         Light Commercial Truck  Compressed Natural Gas (CNG)        57
3         Light Commercial Truck                   Diesel Fuel       515
4         Light Commercial Truck                      Gasoline        89
5                          Other  Compressed Natural Gas (CNG)       133
6                          Other                   Diesel Fuel      6312
7                          Other                   Electricity     17362
8                          Other                Ethanol (E-85)      1593
9                          Other                      Gasoline     25910
10                         Other                         Other         3
11                         Other                           Unk       181
12                 Passenger Car  Compressed Natural Gas (CNG)        20
13                 Passenger Car                   Diesel Fuel       936
14                 Passenger Car                   Electricity     56950
15                 Passenger Car                Ethanol (E-85)       938
16                 Passenger Car                      Gasoline    313401
17               Passenger Truck                   Diesel Fuel       727
18               Passenger Truck                Ethanol (E-85)       434
19               Passenger Truck                      Gasoline      4212
20                    School Bus                      Gasoline        78
21  Single Unit Short-haul Truck  Compressed Natural Gas (CNG)       116
22  Single Unit Short-haul Truck                   Diesel Fuel        45
23  Single Unit Short-haul Truck                      Gasoline        12
24                   Transit Bus  Compressed Natural Gas (CNG)        41
25                   Transit Bus                   Electricity        14

In [5]:
# Save the filtered DataFrame as an Excel file (xlsx)
#grouped_df.to_excel('make_Fuel_Vehicles_2018_zip.xlsx', index=False)

In [6]:
# Calculate the total of the 'Vehicles' column in the grouped DataFrame
total_vehicles = grouped_df['Vehicles'].sum()
print("Total number of vehicles:", total_vehicles)

Total number of vehicles: 430833

In [7]:
# Calculate the total of the 'Vehicles' column in the grouped DataFrame
total_vehicles = grouped_df['Vehicles'].sum()
print("Total number of vehicles:", total_vehicles)

Total number of vehicles: 430833

In [8]:
# Filter out rows where 'Make' or 'Fuel' are labeled exactly as 'Other'
grouped_df = grouped_df[~(grouped_df['Make'].str.strip() == 'Other') & ~(grouped_df['Fuel'].str.strip() == 'Other')]


# Print the DataFrame to see the updated data
print(grouped_df)

                            Make                          Fuel  Vehicles
0    Combination Long-haul Truck  Compressed Natural Gas (CNG)        37
1    Combination Long-haul Truck                   Diesel Fuel       717
2         Light Commercial Truck  Compressed Natural Gas (CNG)        57
3         Light Commercial Truck                   Diesel Fuel       515
4         Light Commercial Truck                      Gasoline        89
12                 Passenger Car  Compressed Natural Gas (CNG)        20
13                 Passenger Car                   Diesel Fuel       936
14                 Passenger Car                   Electricity     56950
15                 Passenger Car                Ethanol (E-85)       938
16                 Passenger Car                      Gasoline    313401
17               Passenger Truck                   Diesel Fuel       727
18               Passenger Truck                Ethanol (E-85)       434
19               Passenger Truck                      Gasoline      4212
20                    School Bus                      Gasoline        78
21  Single Unit Short-haul Truck  Compressed Natural Gas (CNG)       116
22  Single Unit Short-haul Truck                   Diesel Fuel        45
23  Single Unit Short-haul Truck                      Gasoline        12
24                   Transit Bus  Compressed Natural Gas (CNG)        41
25                   Transit Bus                   Electricity        14

In [9]:
# Calculate the total of the 'Vehicles' column in the grouped DataFrame
total_vehicles = grouped_df['Vehicles'].sum()
print("Total number of vehicles:", total_vehicles)

Total number of vehicles: 379339

In [10]:
# Filter out rows where 'Make' or 'Fuel' are not labeled exactly as 'Other'
filtered_df = df[(df['Make'] == 'Other') | (df['Fuel'] == 'Other')]

print(filtered_df)

     Make                          Fuel  Vehicles
3   Other                      Gasoline     20900
14  Other                   Electricity      9938
19  Other                   Electricity      6715
20  Other                   Diesel Fuel      6312
23  Other                      Gasoline      5010
32  Other                Ethanol (E-85)      1593
46  Other                   Electricity       709
67  Other  Compressed Natural Gas (CNG)       133
73  Other                           Unk       113
79  Other                           Unk        68
98  Other                         Other         3

In [11]:
# Calculate the total of the 'Vehicles' column in the grouped DataFrame
total_vehicles = filtered_df['Vehicles'].sum()
print("Total number of vehicles:", total_vehicles)

Total number of vehicles: 51494

In [13]:
379339+51494

430833