In [1]:
import pandas as pd
pd.read_excel('vehicles_by_make_fuel_2019_zip.xlsx')

                  Make                      Fuel  Vehicles
0               TOYOTA                  Gasoline     62712
1                HONDA                  Gasoline     59046
2               NISSAN                  Gasoline     24043
3            OTHER/UNK                  Gasoline     23965
4            CHEVROLET                  Gasoline     23070
..                 ...                       ...       ...
97   BYD COACH AND BUS          Battery Electric        12
98           CHEVROLET            Plug-in Hybrid        12
99                JEEP                 Flex-Fuel        12
100            KOVATCH  Diesel and Diesel Hybrid        11
101          OTHER/UNK                     Other        10

[102 rows x 3 columns]

In [2]:
df = pd.read_excel('vehicles_by_make_fuel_2019_zip.xlsx')

# Define a dictionary to map old Fuel names to new names
fuel_mapping = {
    'Gasoline': 'Gasoline',
    'Other': 'Other',
    'Diesel and Diesel Hybrid': 'Diesel Fuel',
    'Natural Gas': 'Compressed Natural Gas (CNG)',
    'Hybrid Gasoline': 'Gasoline',
    'Flex-Fuel': 'Ethanol (E-85)',
    'Battery Electric': 'Electricity',
    'Plug-in Hybrid': 'Electricity',
    'Hydrogen Fuel Cell': 'Electricity',
    # Add more mappings if needed
}

# Replace the Fuel names with the assigned names using the replace method
df['Fuel'] = df['Fuel'].replace(fuel_mapping)

# Print the DataFrame to see the updated data
print(df)

                  Make            Fuel  Vehicles
0               TOYOTA        Gasoline     62712
1                HONDA        Gasoline     59046
2               NISSAN        Gasoline     24043
3            OTHER/UNK        Gasoline     23965
4            CHEVROLET        Gasoline     23070
..                 ...             ...       ...
97   BYD COACH AND BUS     Electricity        12
98           CHEVROLET     Electricity        12
99                JEEP  Ethanol (E-85)        12
100            KOVATCH     Diesel Fuel        11
101          OTHER/UNK           Other        10

[102 rows x 3 columns]

In [3]:
# Define a dictionary to map old Make names to new names
make_mapping = {
    'TOYOTA': 'Toyota',
    'OTHER/UNK': 'Other',
'TOYOTA': 'Passenger Car',
'FORD': 'Passenger Car', 
'CHEVROLET': 'Passenger Car', 
'HONDA': 'Passenger Car', 
'LEXUS': 'Passenger Car', 
'NISSAN': 'Passenger Car', 
'DODGE': 'Passenger Car', 
'MERCEDES-BENZ': 'Passenger Car', 
'BMW': 'Passenger Car', 
'HYUNDAI': 'Passenger Car', 
'VOLKSWAGEN': 'Passenger Car', 
'JEEP': 'Passenger Car', 
'SUBARU': 'Passenger Car', 
'KIA': 'Passenger Car', 
'GMC': 'Passenger Truck',
'MAZDA': 'Passenger Car', 
'ACURA': 'Passenger Car', 
'AUDI': 'Passenger Car', 
'RAM': 'Passenger Truck',
'INFINITI': 'Passenger Car', 
'TESLA': 'Passenger Car', 
'CADILLAC': 'Passenger Car', 
'SCION': 'Passenger Car', 
'PORSCHE': 'Passenger Car', 
'CHRYSLER': 'Passenger Car', 
'VOLVO': 'Passenger Car', 
'MINI': 'Passenger Car', 
'FREIGHTLINER': 'Light Commercial Truck',
'LAND ROVER': 'Passenger Car', 
'BUICK': 'Passenger Car', 
'MITSUBISHI': 'Passenger Car', 
'Unk': 'Other',
'LINCOLN': 'Passenger Car', 
'PONTIAC': 'Passenger Car', 
'PETERBILT': 'Combination Long-haul Truck',
'SATURN': 'Passenger Car', 
'JAGUAR': 'Passenger Car', 
'MERCURY': 'Passenger Car', 
'KENWORTH': 'Combination Long-haul Truck',
'INTERNATIONAL': 'Combination Long-haul Truck',
'ISUZU': 'Single Unit Short-haul Truck',
'HUMMER': 'Passenger Truck',
'FIAT': 'Passenger Car', 
'SUZUKI': 'Passenger Car', 
'OLDSMOBILE': 'Passenger Car', 
'WORKHORSE': 'Light Commercial Truck',
'GENESIS': 'Passenger Car', 
'HINO': 'Single Unit Short-haul Truck',
'SAAB': 'Passenger Car', 
'PLYMOUTH': 'Passenger Car', 
'ALFA ROMEO': 'Passenger Car', 
'AUTOCAR': 'Single Unit Short-haul Truck',
'RIVIAN': 'Passenger Car', 
'GEO': 'Passenger Car', 
'BLUE BIRD': 'School Bus',
'GILLIG': 'Transit Bus',
'THOMAS BUS': 'School Bus',
'NEW FLYER': 'Transit Bus',
'ROADMASTER': 'Single Unit Short-haul Truck',
'MACK': 'Combination Long-haul Truck',
'UNKNOWN': 'Other',
'BENTLEY': 'Passenger Car', 
'FERRARI': 'Passenger Car', 
'MASERATI': 'Passenger Car', 
'IC BUS LLC': 'School Bus',
'SMART': 'Passenger Car', 
'POLESTAR': 'Passenger Car', 
'SPARTAN': 'Combination Long-haul Truck',
'IC BUS': 'School Bus',
'VAN HOOL': 'Transit Bus',
'PIERCE': 'Refuse Truck',
'EL DORADO': 'Transit Bus',
'KALMAR': 'Light Commercial Truck',
'ROLLS-ROYCE': 'Passenger Car', 
'WESTERN STAR': 'Combination Long-haul Truck',
'MOTOR COACH INDUSTRIES': 'Transit Bus',
'BYD COACH AND BUS': 'Transit Bus',
'NORTH AMERICAN BUS INDUSTRIES': 'Transit Bus',
'AMERICAN LAFRANCE': 'Transit Bus',
'KOVATCH MOBLIE EQUIPMENT CORP': 'Other Buses',
'STERLING': 'Combination Long-haul Truck',
'CRANE CARRIER': 'Combination Short-haul Truck',
'LAMBORGHINI': 'Passenger Car', 
'FLXIBLE TRANSIT COACHES': 'Transit Bus',
'ORION': 'Transit Bus',
'ASTON MARTIN': 'Passenger Car', 
'HME': 'Combination Short-haul Truck',
'PREVOST': 'Transit Bus',
'CRUISE': 'Passenger Car',
'AM GENERAL': 'Combination Short-haul Truck',
'LUCID': 'Passenger Car', 
'TMC': 'Single Unit Long-haul Truck',
'GLOBAL ENVIRONMENTAL': 'Transit Bus',
'KOVATCH': 'Other Buses',
'TICO': 'Single Unit Long-haul Truck',
'WHITE/GMC': 'Single Unit Long-haul Truck',
'GREENPOWER MOTOR': 'Transit Bus',
'NORTH AMERICAN': 'Transit Bus',
'NEOPLAN': 'Transit Bus',
'ALLIANZ': 'Combination Short-haul Truck',
'WHITE': 'Light Commercial Truck',
'XOS': 'Transit Bus',
'LODAL': 'Transit Bus',
'PROTERRA': 'Transit Bus',
'ARBOC': 'Transit Bus',
'BLUEBIRD': 'School Bus',
'MOTOR COACH IND': 'Transit Bus',
'MAN TRUCK AND BUS CORPORATION': 'Combination Long-haul Truck',
'CAPACITY': 'Single Unit Short-haul Truck',
'EMERGENCY ONE': 'Refuse Truck',
'BRIGHTDROP': 'Passenger Truck',
'VPG': 'Passenger Car', 
'CATERPILLAR': 'Single Unit Long-haul Truck',
'COUNTRY COACH': 'Motor Home',
'SPECIAL CONSTRUCTION': 'Other',
'FWD': 'Single Unit Short-haul Truck',
'SEAGRAVE': 'Refuse Truck',
'TROLLEY': 'Transit Bus',
'ALEXANDER DENNIS': 'Transit Bus',
'MG': 'Passenger Car', 
'ORANGE EV': 'Transit Bus',
'OSHKOSH': 'Combination Short-haul Truck',
'LOTUS': 'Passenger Car', 

    # Add more mappings if needed
}

# Replace the Make names with the assigned names using the replace method
df['Make'] = df['Make'].replace(make_mapping)

# Print the DataFrame to see the updated data
print(df)

              Make            Fuel  Vehicles
0    Passenger Car        Gasoline     62712
1    Passenger Car        Gasoline     59046
2    Passenger Car        Gasoline     24043
3            Other        Gasoline     23965
4    Passenger Car        Gasoline     23070
..             ...             ...       ...
97     Transit Bus     Electricity        12
98   Passenger Car     Electricity        12
99   Passenger Car  Ethanol (E-85)        12
100    Other Buses     Diesel Fuel        11
101          Other           Other        10

[102 rows x 3 columns]

In [4]:
# Group the DataFrame by 'Make' and 'Fuel' and calculate the sum of 'Vehicles'
grouped_df = df.groupby(['Make', 'Fuel'])['Vehicles'].sum().reset_index()

# Print the DataFrame to see the updated data
print(grouped_df)

                            Make                          Fuel  Vehicles
0    Combination Long-haul Truck  Compressed Natural Gas (CNG)       110
1    Combination Long-haul Truck                   Diesel Fuel       866
2   Combination Short-haul Truck                   Diesel Fuel        21
3         Light Commercial Truck                   Diesel Fuel      1219
4         Light Commercial Truck                      Gasoline       133
5         Light Commercial Truck                         Other        40
6                          Other  Compressed Natural Gas (CNG)       175
7                          Other                   Diesel Fuel      7022
8                          Other                   Electricity     11727
9                          Other                Ethanol (E-85)      4689
10                         Other                      Gasoline     29074
11                         Other                         Other        10
12                         Other                           Unk       258
13                   Other Buses                   Diesel Fuel        11
14                 Passenger Car                   Diesel Fuel      1412
15                 Passenger Car                   Electricity     14835
16                 Passenger Car                Ethanol (E-85)      4337
17                 Passenger Car                      Gasoline    374353
18               Passenger Truck                   Diesel Fuel       255
19               Passenger Truck                Ethanol (E-85)       116
20               Passenger Truck                      Gasoline      7558
21                  Refuse Truck                   Diesel Fuel        20
22                    School Bus                   Diesel Fuel        20
23                    School Bus                         Other       190
24  Single Unit Short-haul Truck  Compressed Natural Gas (CNG)        56
25  Single Unit Short-haul Truck                   Diesel Fuel       323
26                   Transit Bus  Compressed Natural Gas (CNG)       370
27                   Transit Bus                   Electricity        54

In [5]:
# Save the filtered DataFrame as an Excel file (xlsx)
#grouped_df.to_excel('make_Fuel_Vehicles_2019_zip.xlsx', index=False)

In [6]:
# Calculate the total of the 'Vehicles' column in the grouped DataFrame
total_vehicles = grouped_df['Vehicles'].sum()
print("Total number of vehicles:", total_vehicles)

Total number of vehicles: 459254

In [7]:
# Calculate the total of the 'Vehicles' column in the grouped DataFrame
total_vehicles = grouped_df['Vehicles'].sum()
print("Total number of vehicles:", total_vehicles)

Total number of vehicles: 459254

In [8]:
# Filter out rows where 'Make' or 'Fuel' are labeled exactly as 'Other'
grouped_df = grouped_df[~(grouped_df['Make'].str.strip() == 'Other') & ~(grouped_df['Fuel'].str.strip() == 'Other')]


# Print the DataFrame to see the updated data
print(grouped_df)

                            Make                          Fuel  Vehicles
0    Combination Long-haul Truck  Compressed Natural Gas (CNG)       110
1    Combination Long-haul Truck                   Diesel Fuel       866
2   Combination Short-haul Truck                   Diesel Fuel        21
3         Light Commercial Truck                   Diesel Fuel      1219
4         Light Commercial Truck                      Gasoline       133
13                   Other Buses                   Diesel Fuel        11
14                 Passenger Car                   Diesel Fuel      1412
15                 Passenger Car                   Electricity     14835
16                 Passenger Car                Ethanol (E-85)      4337
17                 Passenger Car                      Gasoline    374353
18               Passenger Truck                   Diesel Fuel       255
19               Passenger Truck                Ethanol (E-85)       116
20               Passenger Truck                      Gasoline      7558
21                  Refuse Truck                   Diesel Fuel        20
22                    School Bus                   Diesel Fuel        20
24  Single Unit Short-haul Truck  Compressed Natural Gas (CNG)        56
25  Single Unit Short-haul Truck                   Diesel Fuel       323
26                   Transit Bus  Compressed Natural Gas (CNG)       370
27                   Transit Bus                   Electricity        54

In [9]:
# Calculate the total of the 'Vehicles' column in the grouped DataFrame
total_vehicles = grouped_df['Vehicles'].sum()
print("Total number of vehicles:", total_vehicles)

Total number of vehicles: 406069

In [10]:
# Filter out rows where 'Make' or 'Fuel' are not labeled exactly as 'Other'
filtered_df = df[(df['Make'] == 'Other') | (df['Fuel'] == 'Other')]

print(filtered_df)

                       Make                          Fuel  Vehicles
3                     Other                      Gasoline     23965
19                    Other                   Diesel Fuel      7022
20                    Other                   Electricity      6763
22                    Other                      Gasoline      5109
24                    Other                Ethanol (E-85)      4689
25                    Other                   Electricity      4394
47                    Other                   Electricity       570
57               School Bus                         Other       190
59                    Other  Compressed Natural Gas (CNG)       175
62                    Other                           Unk       141
67                    Other                           Unk       117
79   Light Commercial Truck                         Other        40
101                   Other                         Other        10

In [11]:
# Calculate the total of the 'Vehicles' column in the grouped DataFrame
total_vehicles = filtered_df['Vehicles'].sum()
print("Total number of vehicles:", total_vehicles)

Total number of vehicles: 53185

In [13]:
406069+53185

459254